body {
            background: rgb(240, 240, 240);
            background: -webkit-linear-gradient(right, rgb(240, 240, 240),rgb(0, 191, 216));
            background: -moz-linear-gradient(right, rgb(240, 240, 240), rgb(0, 191, 216));
            background: -o-linear-gradient(right, rgb(240, 240, 240), rgb(0, 191, 216));
            background: linear-gradient(to left, rgb(240, 240, 240), rgb(0, 191, 216));
            font-family: "Roboto", sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;   
            margin: 0;   
}
	.l1 {
			font-size: 25px;
			color:black;
			font-style: oblique;
		}
		.l2 {
			font-size: 35px;
			color:black;
			font-style: oblique;
		}