.text {
   font-size: 35px;
   color:black;
   font-weight:bold;
   font-style: oblique;
}
.para {
   font-size: 23px;
   color:black;
   font-weight:bold;
   font-style: italic;
}
.slotbutton {
    width: 150px;
    height: 60px;
    font-size: 30px;
    margin: 1px;
    cursor: pointer; 
    position: relative;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
    padding: 0.3em 0.5em;
    border-top: solid 3px white;
    border-bottom: solid 3px white;
    transition: .4s;
}

.slotbutton:hover {
    text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

body {
            background: rgb(240, 240, 240);
            background: -webkit-linear-gradient(right, rgb(240, 240, 240),rgb(0, 191, 216));
            background: -moz-linear-gradient(right, rgb(240, 240, 240), rgb(0, 191, 216));
            background: -o-linear-gradient(right, rgb(240, 240, 240), rgb(0, 191, 216));
            background: linear-gradient(to left, rgb(240, 240, 240), rgb(0, 191, 216));
            font-family: "Roboto", sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            margin: 0;      
}